/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* Reset Box-sizing */
html{box-sizing:border-box}*,:after,:before{box-sizing:inherit}

/********* Colors **************
 black        - 0, 0, 0
 darker gray  - 39, 40, 41
 dark gray    - 69, 70, 71
 gray         - 113, 115, 117
 light gray   - 175, 178, 181
 lighter gray - 236, 240, 245
 white        - 255, 255, 255   
 
 darker blue  - 61, 91, 102
 dark blue    - 97, 145, 163
 blue         - 137, 205, 230
 light blue   - 182, 234, 255
 lighter blue - 220, 245, 255
 
 green        - 142, 243, 214
 salmon       - 243, 163, 142
 peach        - 255, 211, 155
 yellow       - 255, 234, 155
 lavendar     - 155, 176, 255
*******************************/

/* Site */
html {
	min-width: 640px;
}
body {
	font-family: Helvetica, Arial, sans-serif;
	color: rgb(39, 40, 41); /* darker gray */
	text-align: center;
}

/* Typography */
h1 {
	padding-top: 36px;
	margin-bottom: 36px;
	font-size: 36px;
	font-weight: bold;
	text-align: center;
}
h2 {
	margin-bottom: 14px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}
p {
	margin-bottom: 16px;
	font-size: 16px;
	font-weight: normal;
	line-height: 25px;
}

button {
	margin-right: 10px;
	width: 180px;
	height: 45px;
}
input {
	margin: 20px 0;
	padding: 10px;
	width: 100%;
	height: 45px;
	font-size: 16px;
}
label {
	display: inline-block;
	vertical-align: top;
	padding-right: 10px;
	width: 50%;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	text-align: right;
}
label + span {
	display: inline-block;
	vertical-align: top;
	padding-left: 10px;
	width: 50%;
	font-size: 16px;
	font-weight: normal;
	line-height: 20px;
	text-align: left;
}

/* Test elements */
article {
	display:inline-block;
	vertical-align:top;
	position: relative;
	margin-bottom: 20px;
	padding: 20px;
	background-color: rgb(236, 240, 245); /* lighter gray */
}
.touch-area {
	margin: 0 auto 20px;
	width: 100%;
	background-color: rgb(255, 255, 255); /* white */
}
.stats {
	display: inline-block;
	vertical-align: top;
	padding: 10px 0;
	width: 50%;
	height: 22	0px;
	background-color: rgb(175, 178, 181); /* light gray */
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#real-time-stats,
#real-time-event-log {
	display: inline-block;
	vertical-align: top;
	height: 320px;
	padding: 40px;
	text-align: left;
}
#real-time-event-log {
	background-color: rgb(69, 70, 71); /* dark gray */
	color: rgb(255, 255, 255); /* white */
}
#real-time-event-log > pre {
	overflow: auto;
	height: 192px; /* 12 lines */
	font-family: "Courier New", Courier, monospace;
	line-height: 16px;
}
#real-time-stats > label,
#real-time-stats > span {
	margin-bottom: 8px;
	font-size: 16px;
	line-height: 20px;
}
@media (min-width: 1920px) {
	article {
		width: 920px;
	}
	.touch-area {
		height: 500px;
	}
	#real-time-stats,
	#real-time-event-log {
		width: 920px;
	}
}
@media (min-width: 1366px) and (max-width:1919.9px) {
	article {
		width: 660px;
	}
	.touch-area {
		height: 480px;
	}
	#real-time-stats,
	#real-time-event-log {
		width: 660px;
	}
}
@media (min-width: 1024px) and (max-width: 1365.9px) {
	article {
		width: 960px;
	}
	.touch-area {
		height: 720px;
	}
	#real-time-stats,
	#real-time-event-log  {
		width: 960px;
	}
}
@media (min-width: 720px) and (max-width: 1023px) {
	article {
		width: 720px;
	}
	.touch-area {
		height: 540px;
	}
	#real-time-stats,
	#real-time-event-log  {
		width: 720px;
	}
}
@media (max-width: 719px) {
	article {
		width: 640px;
	}
	.touch-area {
		height: 480px;
	}
	#real-time-stats,
	#real-time-event-log  {
		width: 640px;
	}
}